<div class= "side_bar_header">
  <div class= "side_bar_header_left">
  <a href= "#">Tom</a>
  </div>
  <div class= "side_bar_header_right">
  <a href= "#">チャットを作成する</a>
  </div>
</div>

<div class= "rooms">
  <div class= "room">
  <a href= "#" class= "room_name">techroom1</a>
  </div>
  <div class= "room">
  <a href= "#" class= "room_name">techroom2</a>
  </div>
</div>